<div class="assinatura">

  <img src="/assets/lenori.png" alt="leo-lenori" />

</div>

<div class="container" id="container" mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">

  <div class="sections one">
    <app-home></app-home>
  </div>

  <div class="sections two">
    <app-edu></app-edu>
  </div>

  <div class="sections three">
    <app-xp></app-xp>
  </div>

  <div class="sections four">
    <app-jobs></app-jobs>
  </div>

  <div class="sections five">
    <app-prizes></app-prizes>
  </div>

  <div class="sections six">
    <app-contato></app-contato>
  </div>

</div>
