<div class="assinatura">

  <img src="assets/lenori.png" alt="leo-lenori" />

</div>

<div class="container" id="container" mouseWheel (mouseWheelUp)="mouseWheelUpFunc()" (mouseWheelDown)="mouseWheelDownFunc()">

  <div class="sections one">
    <app-home [lang]="lang"></app-home>
  </div>

  <div class="sections two">
    <app-edu [lang]="lang"></app-edu>
  </div>

  <div class="sections three">
    <app-xp [lang]="lang"></app-xp>
  </div>

  <div class="sections four">
    <app-jobs [lang]="lang"></app-jobs>
  </div>

  <div class="sections five">
    <app-prizes [lang]="lang"></app-prizes>
  </div>

  <div class="sections six">
    <app-contato [lang]="lang"></app-contato>
  </div>

</div>
