.prizes-info {

  position: relative;

}

.prizes-info h1 {

  font-weight: 200;
  text-transform: uppercase;
  color: white;
  font-size: 90px;
  margin: 4%;
  width: 31%;
  white-space: initial;
  float: left;

}

.prizes-info h1 > span {

  font-weight: 800;
  display: block;

}

.prizes-info p {

  margin: 4%;
  float: left;
  width: 20%;
  white-space: initial;
  color: white;
  line-height: 30px;
  font-size: 16px;
  font-weight: 100;

}

.premios {

  width: 100%;
  margin: 4%;
  display: flex;
  align-content: space-between;

}

.premios img {

  width: 300px;

}

.premios p {

  margin: 0;
  float: none;
  width: 25%;
  font-weight: 800;
  text-align: center;

}

.premios span {

  font-weight: 100;
  display: block;

}

@media (max-width: 767px) {

  .prizes-info h1 {

    font-size: 20px;
    width: 90%;
    height: auto;
    text-align: center;
    margin: 10% auto 4%;
    float: none;

  }

  .prizes-info h1 > span {

    display: inline;

  }

  .prizes-info p {

    width: 90%;
    text-align: center;
    font-size: 14px;
    line-height: 24px;
    margin: 4% auto 0;
    float: none;

  }

  .premios {

    display: block;
    align-content: normal;
    text-align: center;
    margin: auto;

  }

  .premios img {

    width: 100px;
    margin: 15px auto;

  }

  .premios p {

    font-size: 12px;
    margin: 0 auto;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .prizes-info h1 {

    font-size: 50px;
    width: 90%;
    height: auto;
    text-align: center;
    margin: 10% auto 4%;
    float: none;

  }

  .prizes-info p {

    width: 90%;
    text-align: center;
    margin: 4% auto;
    float: none;

  }

  .premios {

    display: block;
    align-content: normal;
    text-align: center;

  }

  .premios img {

    width: 300px;
    margin: 15px auto;

  }

}

@media (min-width: 1025px) and (max-width: 1199px) {

  .prizes-info h1 {

    font-size: 50px;
    width: 40%;
    margin: 10% auto 4%;
    float: none;

  }

  .prizes-info p {

    width: 40%;
    margin: 4% auto;
    float: none;

  }

  .premios {

    display: block;
    align-content: normal;
    text-align: center;

  }

  .premios img {

    width: 300px;
    margin: 15px auto;

  }

}

@media (min-width: 1200px) and (max-width: 1399px) {

  .prizes-info h1 {

    font-size: 60px;
    width: 30%;

  }

  .prizes-info p {

    width: 40%;

  }

}

@media (min-width: 1400px) and (max-width: 1619px) {

  .prizes-info h1 {

    font-size: 70px;
    width: 30%;

  }

  .prizes-info p {

    width: 40%;

  }

}

@media (min-width: 1620px) and (max-width: 1919px){

  .prizes-info h1 {

    font-size: 80px;
    width: 30%;

  }

}
