.edu-info {

  position: relative;

}

.edu-info h1 {

  font-weight: 200;
  text-transform: uppercase;
  color: #1c7c8c;
  font-size: 90px;
  margin: 4%;
  width: 31%;
  height: 100vh;
  white-space: initial;
  float: left;

}

.edu-info h1 > span {

  font-weight: 800;
  display: block;

}

.edu-info p {

  margin: 4%;
  float: left;
  width: 20%;
  white-space: initial;
  color: #1c7c8c;
  line-height: 30px;
  font-size: 16px;
  font-weight: 400;

}

.edu-info ul {

  list-style-type: none;
  color: #1c7c8c;
  border-left: 1px solid #1c7c8c;
  float: left;
  margin-top: 4%;

}

.edu-info li {

  font-weight: 800;
  margin-bottom: 30px;

}

.edu-info li > span {

  font-weight: 400;
  display: block;
  margin-left: 20px;
  font-style: italic;

}

@media (max-width: 767px) {

  .edu-info h1 {

    font-size: 20px;
    width: 90%;
    height: auto;
    text-align: center;
    margin: 10% auto 4%;
    float: none;

  }

  .edu-info h1 > span {

    display: inline;

  }

  .edu-info p {

    width: 90%;
    text-align: center;
    margin: 4% auto 3%;
    float: none;
    font-size: 14px;
    line-height: 24px;

  }

  .edu-info ul {

    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 12px;

  }

  .edu-info li {

    margin-bottom: 10px;
    font-size: 10px;

  }

}

@media (min-width: 768px) and (max-width: 1024px) {

  .edu-info h1 {

    font-size: 50px;
    width: 90%;
    height: auto;
    text-align: center;
    margin: 10% auto 4%;
    float: none;

  }

  .edu-info p {

    width: 90%;
    text-align: center;
    margin: 4% auto 6%;
    float: none;

  }

  .edu-info ul {

    width: 100%;
    text-align: center;
    border: none;
    padding: 0;
    font-size: 12px;

  }

  .edu-info li {

    margin-bottom: 22px;

  }

}

@media (min-width: 1025px) and (max-width: 1199px) {

  .edu-info h1 {

    font-size: 50px;
    width: 41%;
    height: auto;
    margin: 4% auto;
    float: none;

  }

  .edu-info p {

    width: 40%;
    margin: 4% auto;
    float: none;

  }

  .edu-info ul {

    width: 100%;
    text-align: center;
    padding: 0;
    border: none;

  }

}

@media (min-width: 1200px) and (max-width: 1399px) {

  .edu-info h1 {

    font-size: 60px;
    width: 31%;
    height: auto;

  }

  .edu-info p {

    width: 40%;

  }

  .edu-info ul {

    width: 100%;
    border: none;

  }

}

@media (min-width: 1400px) and (max-width: 1619px) {

  .edu-info h1 {

    font-size: 70px;
    width: 31%;
    height: auto;

  }

  .edu-info p {

    width: 40%;

  }

  .edu-info ul {

    width: 100%;
    border: none;

  }

}

@media (min-width: 1620px) and (max-width: 1919px){

  .edu-info h1 {

    font-size: 80px;
    width: 31%;

  }

}
